<launch>
    <arg name="spots_file_name" default="spots"/>
    <!--- Set navigation with or without map -->
    <arg name="navigate_with_map" default="true"/>
    <arg name="launch_rviz" default="true"/>


    <!-- We load the Spots paramatere locations-->
    <rosparam file="$(find rbkairos_navigation)/spots/$(arg spots_file_name).yaml" command="load" />

    <node pkg="rbkairos_navigation" type="move_base_class.py" name="send_coordinates_node" output="screen">
        
    </node>

    <!-- We start the navigation stack-->
    <include file="$(find rbkairos_navigation)/launch/start_navigation_nomap.launch">
        <arg name="navigate_with_map" value="$(arg navigate_with_map)"/>
    </include>

    <!-- We start the navigation rviz config-->
    <group if="$(arg launch_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rbkairos_navigation)/rviz/nomap.rviz"/>
    </group>


</launch>