<launch>

  <!--- Set navigation with or without map -->
  <arg name="navigate_with_map" default="false"/>

  <!--- Run AMCL -->
  <include file="$(find rbkairos_navigation)/launch/start_localization.launch" if="$(arg navigate_with_map)" />

  <!--- Remap cmd_vel topic -->
  <remap from="cmd_vel" to="husky_velocity_controller/cmd_vel" />

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find rbkairos_navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find rbkairos_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rbkairos_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rbkairos_navigation)/config/local_costmap_params.yaml" command="load" />
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

    <rosparam file="$(find rbkairos_navigation)/config/global_costmap_params_map.yaml" command="load" if="$(arg navigate_with_map)" />
    <rosparam file="$(find rbkairos_navigation)/config/global_costmap_params_nomap.yaml" command="load" unless="$(arg navigate_with_map)" />

    <rosparam file="$(find rbkairos_navigation)/config/teb_local_planner_omni_params.yaml" command="load" />
    <rosparam file="$(find rbkairos_navigation)/config/costmap_global_laser.yaml" command="load" />
    <rosparam file="$(find rbkairos_navigation)/config/global_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <remap from="/rbkairos/move_base_simple/goal" to="/move_base_simple/goal" />
  </node>

</launch>